:root {
  --black: #0f0f0f;
  --white: #f0f0f0;
  --accent-color: #767676;
  --bg-color: var(--white);
  --text-color: var(--black);
}

:root[data-theme='dark'] {
  --bg-color: var(--black);
  --text-color: var(--white);
  --accent-color: #393939;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  box-sizing: border-box;
  padding: 2rem 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
  margin: 1.5rem 0 1rem 0;
}

p {
  margin: 0 0 1rem;
  line-height: 1.6;
}

header,
main {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: var(--accent-color);
}

small,
time {
  color: var(--accent-color);
}

header {
  margin-bottom: 2rem;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 1rem;
}

nav #theme-toggle {
  margin-left: auto;
}

#theme-toggle {
  cursor: pointer;
  color: var(--bg-color);
  background-color: var(--text-color);
  padding: 0.2rem 0.5rem;
  border: none;
  font-family: inherit;
  transition: all 0.2s;
}

#theme-toggle:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--bg-color);
}

ul,
ol {
  margin: 0 0 1rem;
  padding-left: 1.25rem;
}
.sl {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  & > li {
    border-left: 2px solid var(--accent-color);
    padding-left: 1.25rem;
  }
}

li + li {
  margin-top: 0.5rem;
}

article > :first-child {
  margin-top: 0;
}

article > :last-child {
  margin-bottom: 0;
}

article > time {
  display: block;
  margin-bottom: 1.25rem;
}

article h2,
article h3,
article h4 {
  margin-top: 1.75rem;
}

article ul,
article ol {
  margin: 0.75rem 0 1rem;
}

article blockquote {
  margin: 0 0 1rem;
  padding: 0 0 0 1rem;
  border-left: 2px solid var(--accent-color);
  color: var(--accent-color);
}

article code {
  border: 2px solid var(--accent-color);
  padding: 0.1rem 0.35rem;
}

article pre {
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  overflow-x: auto;
}

article pre code {
  border: 0;
  padding: 0;
}

input[type="text"] {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 1rem;
  margin: 1rem 0;
  outline: none;
}

input[type="text"]:focus {
  border-color: none;
  color: var(--text-color);
}