---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .content p {
        align-self: flex-start;
        text-align: left;
      }

      .socials {
		display: flex;
		flex-direction: column;
        align-self: flex-start;
		gap: 0;
      }
	  .socials p {
		margin: 0px;
	  }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="content">
        <img class="decoration" src="../../src/assets/top1_light.png" />
        <h1>ABOUT ME</h1>
        <div>------</div>
        <p>Welcome to my website!</p>
        <p>
          My name is Daniel Liu, and I'm a Senior at UC Berkeley majoring in
          Computer Science and minoring in Data Science. I am also a part of
          Berkeley's Upsilon Pi Epsilon (UPE) chapter.
        </p>
        <div></div>
        <p>
          At school, I'm a member of the <a
            href="https://ocf.io"
            target="_blank">Open Computing Facility</a
          > Board of Directors.
        </p>
        <div>------</div>
        <div class="socials">
          <p>email: <a href="mailto:danielliu@berkeley.edu">danielliu@berkeley.edu</a></p>
          <p>github: <a href="https://github.com/danxliu">danxliu</a></p>
          <p>discord: untrustedaccount</p>
          <p>steam: <a href="https://steamcommunity.com/id/untrusted_account">untrusted_account</a></p>
        </div>
        <img class="decoration" src="../../src/assets/bottom1_light.png" />
      </div>
    </main>
  </body>
</html>
