---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>About Me</h1>
      <p>Welcome to my website!</p>
      <p>
        My name is Daniel Liu. I'm a Senior at UC Berkeley majoring in Computer
        Science, graduating in Spring 2026. At school, I'm a staff member of the <a
          href="https://ocf.io"
          target="_blank">Open Computing Facility</a
        >.
      </p>
      <p>
        I am a previous intern at a few large tech companies, including TikTok,
        Amazon, and IBM.
      </p>
      <p>
        Outside of school, I enjoy hiking, swimming, and table tennis. I play
        way too many games, mostly fps or open world survival games. I could
        also be working on my homelab or rewriting my Linux dotfiles again.
      </p>
      <h2>Socials</h2>
      <ul>
        <li>email: danielliu[at]berkeley[dot]edu</li>
        <li>github: <a href="https://github.com/danxliu">danxliu</a></li>
        <li>discord: untrustedaccount</li>
        <li>
          steam: <a href="https://steamcommunity.com/id/untrusted_account"
            >untrusted_account</a
          >
        </li>
      </ul>
    </main>
  </body>
</html>
