---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import top0 from "../assets/top0_light.png";
import bottom0 from "../assets/bottom0_light.png";
import Separator from "../components/Separator.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .content {
        align-items: center;
      }
      .socials {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 0;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="content">
        <Image class="decoration" src={top0} alt="" />
        <h1 class="page-title">DANIEL LIU</h1>
        <div class="page-title"><Separator/></div>
        <div class="section">
          <div>cs & ds @ berkeley.</div>
          <div>graduating spring 2026.</div>
          <div>prev intern @ IBM, Amazon, TikTok</div>
        </div>
        <Separator />
        <div class="section">
          <div>email: danielliu[at]berkeley[dot]edu</div>
          <div>github: <a href="https://github.com/danxliu">danxliu</a></div>
          <div>discord: untrustedaccount</p>
          <div>
            steam: <a href="https://steamcommunity.com/id/untrusted_account"
              >untrusted_account</a
            >
          </div>
        </div>
        <Image class="decoration" src={bottom0} alt="" />
      </div>
    </main>
  </body>
</html>
