---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .quote {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--light-gray);
        padding: 1.4em;
        margin: 1.2em;
        gap: 0.5em;
        min-width: 12vw;
      }

      .quote-author {
        align-self: flex-end;
      }

      .quote-symbol {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="content">
        <img src="../../src/assets/top0_light.png" />
        <h1>DANIEL LIU</h1>
        <div>------</div>
        <div>danielliu@berkeley.edu</div>
        <div>------</div>

        <div class="section">
          <div>CS @ UC Berkeley.</div>
          <div>Graduating Spring 26.</div>
          <div>Prev @ IBM, Amazon, TikTok</div>
        </div>

        <div class="quote">
          <div class="quote-symbol">"</div>
          <div>No mind to think.</div>
          <div>No will to break.</div>
          <div>No voice to cry suffering.</div>
        </div>
        <img src="../../src/assets/bottom0_light.png" />
      </div>
    </main>
  </body>
</html>
