---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Work</h1>
      <ul class="sl">
        <li>
          <b>TikTok | Multimedia AI</b>
          <div>Software Intern</div>
          <div>San Jose, CA</div>
          <small>Aug 2025 - Nov 2025</small>
        </li>
        <li>
          <b>Amazon | Kindle</b>
          <div>Software Intern</div>
          <div>Sunnyvale, CA</div>
          <small>May 2025 - Aug 2025</small>
        </li>
        <li>
          <b>IBM | FileNet</b>
          <div>Software Intern</div>
          <div>San Jose, CA</div>
          <small>Jan 2025 - May 2025</small>
        </li>
        <li>
          <b>Department of Defense</b>
          <div>Software Intern</div>
          <div>Keyport, WA</div>
          <small>Jun 2024 - Aug 2024</small>
        </li>
        <li>
          <b>XCamp</b>
          <div>Teacher's Assistant</div>
          <div>Saratoga, CA</div>
          <small>Dec 2022 - Sep 2023</small>
        </li>
      </ul>
    </main>
  </body>
</html>
