<header>
  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/work">Work</a>
    <a href="/about">About</a>
  </nav>
</header>
<style>
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    padding: 0em 2em;
    height: 10vh;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav a:hover {
    color: #555555;
  }
</style>
